:root{
    --primary-color: #f1f1f1;
    --base-color: #4d4d4d;
    --text-color:#020202;
}
html{
    font-size: 20px;
    color: var(--text-color);
    font-family: 'Special Elite', serif;
    background-color: black;
}

body{    
    border: 1px black dotted;
    margin: auto;
    margin-top: 1.5em;
    border-radius: 1em;
    background-image: url("./assets/background.png");
    background-repeat: repeat;
    height: 90vh;
    width: 80vw;
    box-shadow: 5px 5px 35px 5px rgb(22, 22, 22);
}

header{
    width: 100%;
    height: 2em;
    background-color: var(--primary-color);
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#system-nav{
    height: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 2px black solid;
}

#system-nav ul{
    display: flex;
    align-items: center;
    margin: 0;
    padding:0;
    width: 100%;
    height: 2em;
    font-weight: 700;
}
#system-icon{
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.system-nav-link{
    margin-left: 1em;
    font-size: 0.8em;
}

.container{
    display: flex;
}

section{
    width: 80vw;
    height: fit-content;
    background-color: var(--primary-color);
    margin: 1em;
    border: 2px black solid;
   
}
#section-content{
    overflow-y: auto;
    font-size: 0.9em;
    text-align: justify;
    height: 70vh;
}
figure{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#section-content h1{
    text-align: center;
    margin: 0;
}
#section-content img{
    width: auto;
    height: 200px;
}
#section-content::-webkit-scrollbar {
    width: 20px;
    background-color: var(--primary-color);
    border: 1px black solid;
}

#section-content::-webkit-scrollbar-button:single-button {
    background-color: var(--primary-color);
    display: block;
    border: 1px black solid;
    height: 20px;
    width: 20px;
}
#section-content::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url('./assets/up-arrow.svg');
}

#section-content::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url('./assets/down-arrow.svg');
}

#section-header{
    position: sticky;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px black solid;
    font-size: 1.2em;
    
}
aside{
    width: 20%;
}
p,h1{
    padding: 1em;
}
.desktop-icon{
    margin: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktop-icon a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);

}
.desktop-icon a i{
    margin-bottom: 0;
    font-size: 1.7em;
}

.desktop-icon a span{
    font-size: 0.7em;
    background-color: var(--primary-color);
    color:black;
    padding: 5px;
    border: 1px black dotted;
}
#timeline{
    list-style: square;
}
#timeline li{
    margin-bottom: 8px;
    margin-right: 20px;
}


@media only screen and (max-width:1000px){
    #section-content img{
        width: auto;
        height: 100px;
    }
    p{
        font-size: 0.7em;
    }
    #section-content{
        height: 60vh;
    }
}